rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuth() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuth() && get(/databases/$(database)/documents/userRoles/$(request.auth.uid)).data.role == 'admin';
    }

    match /siswa/{studentId} {
      allow read, create: if isAuth();
      allow update, delete: if isAdmin();
    }
    
    match /userRoles/{userId} {
      allow read: if isAuth();
      allow create: if isAuth();
      allow update: if isAdmin();
    }

    match /correctionRequests/{requestId} {
      allow read, create: if isAuth();
      allow update: if isAdmin();
    }

    match /availableAcademicYears/{yearId} {
      allow read: if isAuth();
      allow write: if isAdmin();
    }
  }
}
