
rules_version = '2';

service cloud.firestore {
  function isAdmin() {
    return request.auth != null && get(/databases/$(database)/documents/userRoles/$(request.auth.uid)).data.role == 'admin';
  }

  match /databases/{database}/documents {
    match /siswa/{studentId} {
      // Create and Read allowed for any authenticated user
      allow read, create: if request.auth != null;
      
      // Update and Delete only allowed for admins
      allow update, delete: if isAdmin();
    }

    match /correctionRequests/{requestId} {
      // Users can create requests for themselves
      allow create: if request.auth != null && request.resource.data.requestedByUserId == request.auth.uid;
      
      // Admins can read and update (approve/reject) any request
      allow read, update: if isAdmin();
    }

    match /userRoles/{userId} {
      // A user can create their own role document upon first sign-up.
      allow create: if request.auth != null && request.auth.uid == userId;

      // A user can read their own role document.
      allow read: if request.auth != null && request.auth.uid == userId;
      
      // An admin can read and write to any user's role document.
      allow read, write: if isAdmin();
    }
  }
}
